body{
    font-family: '微软雅黑';
    padding-top: 40px;
}

/*body{
    font-family: '微软雅黑';
    padding-top: 70px;
    background: url(../img/bg.jpg) no-repeat center fixed;
    background-position: right bottom;
    background-size: cover;
}*/
